In [1]:
#Created by Ryan on 12-28-22
#Goal is to create a new set that removes all non-residential 
#Also remove any extra data.
#New file will be saved as CleanedBRKData

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('C:/Users/Ryan Satterfield/Documents/GitHub/FinalProject/Resources/Data/brooklyn_sales.csv')

C:\Users\Ryan Satterfield\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (34,35,69) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
#Determin what categories are not Residential 
c = 'building_class_category'
df[c].value_counts()

02 TWO FAMILY HOMES                   41342
01 ONE FAMILY HOMES                   23160
13  CONDOS - ELEVATOR APARTMENTS      20840
10  COOPS - ELEVATOR APARTMENTS       16404
03 THREE FAMILY HOMES                 14181
                                      ...
39  TRANSPORTATION FACILITIES             1
23 LOFT BUILDINGS                         1
11  SPECIAL CONDO BILLING LOTS            1
39 TRANSPORTATION FACILITIES              1
36 OUTDOOR RECREATIONAL FACILITIES        1
Name: building_class_category, Length: 86, dtype: int64

In [9]:
 building_types = list(set(list(df[c])))
#by converting the df column to list then a set then back to a list. i can easily isolate unique values

[nan,
 '45 CONDO HOTELS',
 '43 CONDO OFFICE BUILDINGS',
 '23 LOFT BUILDINGS',
 '28  COMMERCIAL CONDOS',
 '07 RENTALS - WALKUP APARTMENTS',
 '25  LUXURY HOTELS',
 '40  SELECTED GOVERNMENTAL FACILITIES',
 '27 FACTORIES',
 '32 HOSPITAL AND HEALTH FACILITIES',
 '04  TAX CLASS 1 CONDOS',
 '09  COOPS - WALKUP APARTMENTS',
 '17 CONDO COOPS',
 '15 CONDOS - 2-10 UNIT RESIDENTIAL',
 '22  STORE BUILDINGS',
 '32  HOSPITAL AND HEALTH FACILITIES',
 '06 TAX CLASS 1 - OTHER',
 '28 COMMERCIAL CONDOS',
 '33  EDUCATIONAL FACILITIES',
 '14 RENTALS - 4-10 UNIT',
 '02 TWO FAMILY HOMES',
 '42  CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC',
 '45  CONDO HOTELS',
 '13  CONDOS - ELEVATOR APARTMENTS',
 '41  TAX CLASS 4 - OTHER',
 '37  RELIGIOUS FACILITIES',
 '18  TAX CLASS 3 - UTILITY PROPERTIES',
 '48  CONDO TERRACES/GARDENS/CABANAS',
 '10  COOPS - ELEVATOR APARTMENTS',
 '44 CONDO PARKING',
 '36 OUTDOOR RECREATIONAL FACILITIES',
 '18  TAX CLASS 3 - UNTILITY PROPERTIES',
 '12  CONDOS - WALKUP APARTMENTS',
 '29 COMMERCIAL GARAGES',
 '35 INDOOR PUBLIC AND CULTURAL FACILITIES',
 '29  COMMERCIAL GARAGES',
 '33 EDUCATIONAL FACILITIES',
 '08 RENTALS - ELEVATOR APARTMENTS',
 '17  CONDOPS',
 '34 THEATRES',
 '46 CONDO STORE BUILDINGS',
 '10 COOPS - ELEVATOR APARTMENTS',
 '12 CONDOS - WALKUP APARTMENTS',
 '31  COMMERCIAL VACANT LAND',
 '27  FACTORIES',
 '35  INDOOR PUBLIC AND CULTURAL FACILITIES',
 '01 ONE FAMILY HOMES',
 '21 OFFICE BUILDINGS',
 '47  CONDO NON-BUSINESS STORAGE',
 '41 TAX CLASS 4 - OTHER',
 '38  ASYLUMS AND HOMES',
 '11A CONDO-RENTALS',
 '13 CONDOS - ELEVATOR APARTMENTS',
 '39  TRANSPORTATION FACILITIES',
 '39 TRANSPORTATION FACILITIES',
 '21  OFFICE BUILDINGS',
 '04 TAX CLASS 1 CONDOS',
 '30 WAREHOUSES',
 '23  LOFT BUILDINGS',
 '08  RENTALS - ELEVATOR APARTMENTS',
 '36  OUTDOOR RECREATIONAL FACILITIES',
 '37 RELIGIOUS FACILITIES',
 '38 ASYLUMS AND HOMES',
 '43  CONDO OFFICE BUILDINGS',
 '16  CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
 '49  CONDO WAREHOUSES/FACTORY/INDUS',
 '15  CONDOS - 2-10 UNIT RESIDENTIAL',
 '26 OTHER HOTELS',
 '22 STORE BUILDINGS',
 '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC',
 '31 COMMERCIAL VACANT LAND',
 '05 TAX CLASS 1 VACANT LAND',
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
 '11  SPECIAL CONDO BILLING LOTS',
 '14  RENTALS - 4-10 UNIT',
 '48 CONDO TERRACES/GARDENS/CABANAS',
 '05  TAX CLASS 1 VACANT LAND',
 '46  CONDO STORE BUILDINGS',
 '09 COOPS - WALKUP APARTMENTS',
 '34  THEATRES',
 '06  TAX CLASS 1 - OTHER',
 '26  OTHER HOTELS',
 '44  CONDO PARKING',
 '30  WAREHOUSES',
 '17  CONDO COOPS',
 '07  RENTALS - WALKUP APARTMENTS',
 '03 THREE FAMILY HOMES']

In [15]:
Homes = [
'01 ONE FAMILY HOMES',
'02 TWO FAMILY HOMES',
'03 THREE FAMILY HOMES',
]
Res = [
    '23 LOFT BUILDINGS',
    '07 RENTALS - WALKUP APARTMENTS',
    '04 TAX CLASS 1 CONDOS',
    '09 COOPS - WALKUP APARTMENTS',
    '17 CONDO COOPS',
    '15 CONDOS - 2-10 UNIT RESIDENTIAL',
    '06 TAX CLASS 1 - OTHER',
    '14 RENTALS - 4-10 UNIT',
    '02 TWO FAMILY HOMES',
    '13 CONDOS - ELEVATOR APARTMENTS',
    '41 TAX CLASS 4 - OTHER',
    '48 CONDO TERRACES/GARDENS/CABANAS',
    '10 COOPS - ELEVATOR APARTMENTS',
    '12 CONDOS - WALKUP APARTMENTS',
    '08 RENTALS - ELEVATOR APARTMENTS',
    '10 COOPS - ELEVATOR APARTMENTS',
    '12 CONDOS - WALKUP APARTMENTS',
    '01 ONE FAMILY HOMES',
    '11A CONDO-RENTALS',
    '13 CONDOS - ELEVATOR APARTMENTS',
    '08 RENTALS - ELEVATOR APARTMENTS',
    '14 RENTALS - 4-10 UNIT',
    '48 CONDO TERRACES/GARDENS/CABANAS',
    '09 COOPS - WALKUP APARTMENTS',
    '17 CONDO COOPS',
    '07 RENTALS - WALKUP APARTMENTS',
    '03 THREE FAMILY HOMES'
]
nonRes = [
    '45 CONDO HOTELS',
    '43 CONDO OFFICE BUILDINGS',
    '28  COMMERCIAL CONDOS',
    'nan',
    '25  LUXURY HOTELS',
    '40  SELECTED GOVERNMENTAL FACILITIES',
    '27 FACTORIES',
    '32 HOSPITAL AND HEALTH FACILITIES',
    '22  STORE BUILDINGS',
    '32  HOSPITAL AND HEALTH FACILITIES',
    '28 COMMERCIAL CONDOS',
    '33  EDUCATIONAL FACILITIES',
    '42  CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC',
    '45  CONDO HOTELS',
    '37  RELIGIOUS FACILITIES'
    '18  TAX CLASS 3 - UTILITY PROPERTIES',
    '44 CONDO PARKING',
    '36 OUTDOOR RECREATIONAL FACILITIES',
    '18  TAX CLASS 3 - UNTILITY PROPERTIES',
    '29 COMMERCIAL GARAGES',
    '35 INDOOR PUBLIC AND CULTURAL FACILITIES',
    '29  COMMERCIAL GARAGES',
    '33 EDUCATIONAL FACILITIES',
    '17  CONDOPS',
    '34 THEATRES',
    '46 CONDO STORE BUILDINGS',
    '31  COMMERCIAL VACANT LAND',
    '27  FACTORIES',
    '35  INDOOR PUBLIC AND CULTURAL FACILITIES',
    '21 OFFICE BUILDINGS',
    '47  CONDO NON-BUSINESS STORAGE',
    '41 TAX CLASS 4 - OTHER',
    '38  ASYLUMS AND HOMES',
    '39  TRANSPORTATION FACILITIES',
    '39 TRANSPORTATION FACILITIES',
    '21  OFFICE BUILDINGS',
    '21  OFFICE BUILDINGS',
    '36  OUTDOOR RECREATIONAL FACILITIES',
    '37 RELIGIOUS FACILITIES',
    '38 ASYLUMS AND HOMES',
    '43  CONDO OFFICE BUILDINGS',
    '16  CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
    '49  CONDO WAREHOUSES/FACTORY/INDUS',
    '15  CONDOS - 2-10 UNIT RESIDENTIAL',
    '26 OTHER HOTELS',
    '22 STORE BUILDINGS',
    '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC',
    '31 COMMERCIAL VACANT LAND',
    '05 TAX CLASS 1 VACANT LAND',
    '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
    '11  SPECIAL CONDO BILLING LOTS',
    '05  TAX CLASS 1 VACANT LAND',
    '46  CONDO STORE BUILDINGS',
    '34  THEATRES',
    '06  TAX CLASS 1 - OTHER',
    '26  OTHER HOTELS',
    '44  CONDO PARKING',
    '30  WAREHOUSES'
]

In [13]:
dfRes =  df[df[c].isin(Res)]

In [14]:
dfRes[c].value_counts()

02 TWO FAMILY HOMES                  41342
01 ONE FAMILY HOMES                  23160
03 THREE FAMILY HOMES                14181
13 CONDOS - ELEVATOR APARTMENTS       2482
10 COOPS - ELEVATOR APARTMENTS        1806
15 CONDOS - 2-10 UNIT RESIDENTIAL      796
07 RENTALS - WALKUP APARTMENTS         707
09 COOPS - WALKUP APARTMENTS           498
04 TAX CLASS 1 CONDOS                  420
12 CONDOS - WALKUP APARTMENTS          334
14 RENTALS - 4-10 UNIT                 185
08 RENTALS - ELEVATOR APARTMENTS        44
41 TAX CLASS 4 - OTHER                  30
17 CONDO COOPS                          24
11A CONDO-RENTALS                       17
06 TAX CLASS 1 - OTHER                  13
48 CONDO TERRACES/GARDENS/CABANAS        2
23 LOFT BUILDINGS                        1
Name: building_class_category, dtype: int64

In [19]:
#At this point its clear that removing everything except the one, two , three family homes won't have a large effect on our data 
dfhome = df[df[c].isin(Homes)]
dfhome = dfhome.reset_index(drop=True)

In [17]:
dfhome[c].value_counts()

02 TWO FAMILY HOMES      41342
01 ONE FAMILY HOMES      23160
03 THREE FAMILY HOMES    14181
Name: building_class_category, dtype: int64

In [22]:
list(dfhome)  #let's get a list of the columns
salep = 'sale_price'

In [26]:
dfhome[salep].describe() # Basic look at Res sale prices

count    7.868300e+04
mean     7.242098e+05
std      6.329105e+05
min      1.450000e+05
25%      3.999970e+05
50%      5.800000e+05
75%      8.350000e+05
max      2.300000e+07
Name: sale_price, dtype: float64

In [27]:
dfhome[salep].max()

23000000.0

In [28]:
dfhome[dfhome[salep] > 22_000_000.0] #closer look at the max.

,Unnamed: 0,borough,neighborhood,building_class_category,block,lot,building_class,address,apartment_number,zip_code,...,BldgFront,BldgDepth,Ext,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,HistDist,Landmark
0,316,3,BOERUM HILL,02 TWO FAMILY HOMES,180,60,S2,525 ATLANTIC AVENUE,NaN,11217,...,25.0,79.0,NaN,5685.0,35970.0,0.0,0.0,1905.0,NaN,NaN

In [ ]:
#Will now export the new data frame and make a new code file to do some basic analysis.
dfhome.to_csv('BasicHomes.csv')